html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*// HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

html,
body {
    height: 100%;
    line-height: 1;
}

ol, ul {
    list-style: none;
}



@font-face {
    font-family: 'P22UndergroundProThin';
    src: url("../fonts/p22undergroundpro-thin-webfont.eot");
    src: url("../fonts/p22undergroundpro-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/p22undergroundpro-thin-webfont.woff") format("woff"), url("../fonts/p22undergroundpro-thin-webfont.ttf") format("truetype"), url("../fonts/p22undergroundpro-thin-webfont.svg#P22UndergroundProThin") format("svg");
    font-weight: normal;
    font-style: normal;
}


body {
    position: relative;
    z-index: 1;
    min-width: 300px;
    overflow: hidden;
    font: 13px/1.4 "PingFang SC Light", "PingFang SC", "Lantinghei SC Light", "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial;
}

/*a {
    border-bottom: 1px solid #eee;
}*/

/*a:hover {
    border-bottom: 1px solid transparent;
}*/

canvas {
    line-height: 0;
}

#mimida {
    /*-webkit-transform: translate3d(-50% -50% 0);
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;*/
    /*transform: rotateY(180deg);*/
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#container {
/*    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 35%;
    background: #000;
    z-index: 2;
    opacity: .75;*/
}

#cont {
    position: absolute;
    z-index: 3;
    left: 20px;
    top: 0;
    background: rgba(0,0,0,0.9);
    color: #fff;
    overflow-y: auto;
    font-family: 'P22UndergroundProThin', "PingFang SC Light", "PingFang SC", "Lantinghei SC Light", "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

#main {
    /*width: 260px;*/
    padding: 20px 20px 30px 20px;
    margin: 0 auto;
    /*background: rgba(0, 0, 0, 0.1);*/
}

#main h1 {
    position: relative;
    /*text-transform: uppercase;*/
    font-size: 50px;
    line-height: 1;
    /*line-height: 1.2;*/
}

#main h1 img,
#main h1 span {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}

#main h1 img {
    width: 50px;
    height: 50px;
}
/*
#main h1::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #222;
    -webkit-box-shadow: 0 0 3px 3px #EDE03D inset;
    box-shadow: 0 0 3px 3px #EDE03D inset;
}*/


#main h3 {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 500;
}

#main p {
    padding-top: 20px;
    font-size: 12px;
}

#main a {
    color: #607d8b;
    text-decoration: none;
    /*border-bottom: 1px solid #fff;*/
}

#nav {
    padding-top: 30px;
}

#nav dt {
    font-size: 18px;
}

#nav dd {
    padding-top: 10px;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

#nav dd a {
    display: inline-block;
    margin-left: 5px;
    border-radius: 2px;
    padding: 1px 4px 2px 4px;
    background: rgba(0,0,0, 0.3);
    /*border-bottom: none;*/
    font-family: Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

#nav dd a:hover {
    background: #00bcd4;
    color: #333;
}

#nav dd span {
    color: #aaa;
    padding-right: 10px;
    font-weight: bold;
}


#email {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
    letter-spacing: 1px;
}

footer {
    position: fixed;
    z-index: 2;
    bottom: 10px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

@media screen and (min-width: 0px) {
    /*#main {
        width: 300px;
        margin: 0 20px;
    }*/
    body {
        overflow-y: auto;
        background: #111;
    }

    #mimida {
        background: url(https://tva1.sinaimg.cn/large/e6c9d24egy1h0n8f0b6fzj20ms17xdsd.jpg) center center no-repeat;
        background-size: cover;
    }

    #cont {
        left: 0;
        right: 0;
        bottom: auto;
        font-size: 12px;
        background: rgba(0,0,0, .8);
    }
}

@media screen and (min-width: 450px) {
    body {
        background: #222 url(https://tva1.sinaimg.cn/large/e6c9d24egy1h0n7e15tnxj21c40u07ea.jpg) center center no-repeat;
        background-size: cover;
    }

    #mimida {
        background: url(https://tva1.sinaimg.cn/large/e6c9d24egy1h0n7e15tnxj21c40u07ea.jpg) center center no-repeat;
        background-size: cover;
    }

    #cont {
        left: 20px;
        right: auto;
        bottom: auto;
    }
}

@media screen and (min-width: 1024px) {


    #cont {
        left: 300px;
        right: auto;
        bottom: auto;
        background: rgba(0,0,0, .9);
    }
}
